body{
    background-color: white;
    margin:0;
    top:0;
    font-family:'Roboto';
    font-weight: 700;
}

header{
    font-family: "Ubuntu", sans-serif;
}
.main-nav{
    margin:0;
    padding:0;
    position: fixed;
    z-index:9999;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color:#001233;
    margin:0;
    top:0;
    color:white;
    padding: 5px;
    font-size: large;
    display: block;
    width: 100%;
    clear: both;
}

.store-name{
    font-size: x-large;
    float: left;
    margin: 10px 0;
}
.exit{
    font-size: small;
    float: right;
    margin-right: 20px;
    padding-top:5px;
}
.user-logged-in{
    font-size: small;
    float: right;
    margin-right: 20px;
    padding-top:5px;
}


.exit a{
    text-decoration: none;
    color: white;
}

.dropdown-button{
    display:none;
    position:relative;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#33415C;
    display: flex;
    flex-basis: 1 1 0px;

}

li{
    top:0;
    float: left;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    position: relative;
}
/* li:hover { */
/*   background-color: rgba(0,0,0,0.3); */
/* } */

li a::before{
    content: '';
    display: block;
    height: 4px;
    background: #0466C8;
    border-radius: 2px;
    position: absolute;
    bottom: 0.3em;
    left: 0;
    right: 0;
    /* left: 15%; */
    /* right: 15%; */
    transform: scale(0, 1);
    transition: transform ease-in-out 300ms;
}

li a:hover::before{
    transform: scale(1,1);
}

.selected{
    background-color: #0466C8;
}

@media only screen and (max-width: 600px) {

    .dropdown{
        display: inline-block;
    }

    .dropdown-button{
        display: block;
    }

    ul{
        display: none;
        position: relative;
    }

    .dropdown:hover ul{
        display: flex;
        flex-direction: column;
    }

    .dropdown:hover .dropdown-button{
        background-color: white;
        color:black;
    }
    li a::before{
        display: none;
    }
    li:hover {
        background-color: rgba(0,0,0,0.3);
    }
}